@import "./reset.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.container-full {
  width: 100%;
}

/*==========================
HEADER
 =========================*/
.header {
  background-color: #1c8c3f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}
.header .header__left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.header .header__left .header__logo img {
  width: 100px;
  height: auto;
}

.header .header__right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header .header__right button {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: none;
  background-color: white;
  font-size: 16px;
}

.header .header__right input {
  font-size: 14px;
  height: 40px;
  border-radius: 8px;
  border: none;
  width: 300px;
  padding-left: 20px;
}

/* ============= */
/* .header__user {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
  font-weight: bold;
  color: #2e7d32;
}

.header__user-name {
  display: flex;
  align-items: center;
  gap: 5px;
} */

/*==========================
Footer
 =========================*/

.footer {
  background-color: #30383d;
  padding: 40px 0px 60px 0;
}

.footer__list {
  display: flex;
  padding: 40px 40px;
  justify-content: center;
}

.footer .footer__item {
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer .footer__item .footer__title {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  cursor: pointer;
}

.footer .footer__item p {
  color: white;
  font-size: 20px;
}

.footer .footer__item .footer__social {
  color: white;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer .footer__item .footer__social i {
  font-size: 32px;
  cursor: pointer;
}

.footer .footer__copyRight {
  color: gray;
  font-size: 18px;
  text-align: center;
}
/* 
 */
